#map {
  width: 100%;
  height: 800px;
}

#control {
  height: 150px;
}

#seuil {
  width: 40px;
}

#position {
  width: 40px;
}

.slider-wrapper {
  display: inline-block;
  width: 20px;
  padding: 5px;
}

.slider-wrapper input {
  width: 140px;
  height: 20px;
  margin: 0;
  transform-origin: 70px 70px;
  transform: rotate(-90deg);
}

.seuil {
  display: inline-block;
  width: 130px;
}

.position {
  width: 130px;
  right: 0;
  margin: 0;
  padding-left: 48px;
}

#reglages {
  float: left;
  height: 100%;
}

#courbe {
  height: 150px;
  width: calc(100% - 180px);
  bottom: 12px;
  position: absolute;
  right: 8px;
}

#chart {
  width: 100%;
  height: 100%;
}

.ligne-seuil {
  cursor: row-resize;
}

.ligne-position {
  cursor: col-resize;
}
