#haut {
  display: flex;
  height: calc(100% - 160px);
}

#control {
  display: inline-block;
  width: 180px;
}

#map {
  display: inline-block;
  width: calc(100% - 180px);
  height: 800px;
}

#chart {
  height: 150px;
  width: 100%;
  bottom: 12px;
  right: 8px;
  user-select: none;
}

#reglages {
  float: left;
  height: 100%;
  display: flex;
}

#seuil {
  width: 40px;
  color: red;
  text-align: right;
}

#position {
  width: 40px;
}

#vitesse {
  width: 40px;
  text-align: right;
}

#distance-seuil {
  width: 40px;
  text-align: right;
  color: red;
}

.slider-wrapper {
  display: inline-block;
  width: 20px;
  padding: 5px;
}

.slider-wrapper input {
  width: 140px;
  height: 20px;
  margin: 0;
  transform-origin: 70px 70px;
  transform: rotate(-90deg);
}

.seuil {
  display: inline;
  width: 130px;
}

#chart path {
  stroke-width: 1;
}

.ligne-seuil {
  cursor: row-resize;
}

.ligne-position {
  cursor: col-resize;
}

.ligne-gauche {
  cursor: col-resize;
}

.ligne-droite {
  cursor: col-resize;
}