body {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#haut {
  display: flex;
  height: calc(100% - 160px);
}

#control {
  display: inline-block;
  width: 200px;
 /* background-color: #b1bfd6;*/
}

#map {
  display: inline-block;
  width: calc(100% - 200px);
  height: 800px;
}

#chart {
  height: 150px;
  width: 100%;
  bottom: 12px;
  right: 8px;
  user-select: none;
}

#reglages {
  display: flex;
  height: 180px;
}

#magneto {
  width: 180px;
  margin: auto;
}

#rapidite {
  width: 40px;
}

#fenetre {
  height: 150px;
  bottom: 50px;
  position: absolute;
}

#fenetre-largeur {
  width: 40px;
  text-align: right;
}

#seuil {
  width: 40px;
  color: red;
  text-align: right;
}

.seuil tr td {
  padding-bottom: 20px;
}

#position {
  width: 40px;
  text-align: right;
}

#vitesse {
  width: 40px;
  text-align: right;
}

#distance-seuil {
  width: 40px;
  text-align: right;
  color: red;
}

.slider-wrapper {
  display: inline-block;
  width: 40px;
  padding: 5px;
}

.slider-wrapper input {
  width: 140px;
  height: 20px;
  margin: 0;
  transform-origin: 70px 70px;
  transform: rotate(-90deg);
}

.seuil {
  display: inline;
  width: 130px;
}

#chart path {
  stroke-width: 1;
}

.ligne-seuil {
  cursor: row-resize;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.ligne-position {
  cursor: col-resize;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.ligne-gauche {
  cursor: col-resize;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.ligne-droite {
  cursor: col-resize;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}