		.lien-collapse {
			cursor: pointer;
			text-decoration-line: underline;
		}

		.webcam {
			position: relative;
		}
		.webcam img {
			position: relative;
			z-index: 1;
		}
		.webcam .webcam-texte {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: 10;
		}	  
		.webcam-texte p {
			color: silver;
			text-align: center;
		}

#titre-spots {
	display: inline-block; 
	text-decoration: underline;
	margin-top: 10px;
}

#menu-vent {
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
		.liste-spots table td {
			padding-top: 10px;
			padding-bottom: 10px;
		}			
}
@media screen and (max-width: 767px) {
		.liste-spots  table {
			margin-bottom: 0;
		}			
}

		.btn-releve {
			border-style: outset;
		}
		.btn-enfonce {
			border-style: inset;
		}
		
@media screen and (max-width: 767px) {
	.table-commentaires {
		font-size: 80%;
	}
}

.table-commentaires td {
	padding-right: 5px; 
	padding-bottom: 10px;
	vertical-align: top;
}
.note-bonne  {
	color: green;
}
.note-moyenne  {
	color: orange;
}
.note-mauvaise {
	color: red;
}

@media screen and (min-width: 768px) {
	#comparer {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}	
}
@media screen and (max-width: 767px) {
	#comparer {
		position: absolute;
		right: 30px;
		bottom: 15px;
	}	
}

