
h2 {
    font-size: 24px;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
}

h3 {
    font-size: 24px;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
}

.section {
    display: inline-block;
}

.photo {
    float: left;
    margin-left: 5px;
    width: 200px;
}

.nom {
    font-size: 24px;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
    text-align: right;
    margin: 10px;
}

.developpement li {
    margin: 10px;
    list-style: none;
}

.legende {
    text-align: left;
    display: inline-block;
    font-weight: bold;
}

.sous-legende {
    display: inline-block;
    width: 100%;
    font-weight: normal;
}