body, .fond {
    background-image: none;
    background-color: white;
}

.encadre {
    margin-top: 10px;
}

h2 {
    color: white;
    font-size: 24px;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
    background-color:#398efd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

h3 {
    font-size: 24px;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
}

.section {
    display: inline-block;
}

.photo {
    float: left;
    margin-left: 5px;
    width: 200px;
}

.nom {
    font-size: 24px;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
    text-align: right;
    margin: 10px;
}

.realisation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.realisation li {
    margin: 10px;
    list-style: none;
}

.legende {
    text-align: left;
    font-weight: bold;
    text-align: center;
}

.sous-legende {
    width: 100%;
    font-weight: normal;
}

.windows li {
    width: 300px;
}

