* {
    font-size: 12px;
}

body, .fond {
    background-image: none;
    background-color: white;
}

.navbar-brand {
    margin: 7.5px 0px;
}

#bouton-bas-page {
    right: 50px;
}

.encadre {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    color: white;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
    background-color:#398efd;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: normal;
}

h3 {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
    padding-left: 5px;
}

h4 {
    font-size: 1.3em;
}

strong {
    font-size: 1em;
}

.section {
    display: inline-block;
}

.photo {
    float: left;
    margin-left: 5px;
    width: 200px;
}

.nom {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif; /* Times New Roman, Times, serif; */
    text-align: right;
    margin: 10px;
}

.realisation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.realisation {
    padding-left: 0;
}

.realisation li {
    margin: 10px;
    list-style: none;
}

.realisation img {
    width: 450px;
}

.legende {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.sous-legende {
    font-size: 1em;
    width: 100%;
    font-weight: normal;
    text-transform: lowercase;
}

.windows li {
    width: 300px;
}

